/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 28, ../sass/screen.sass */
.light-accent {
  color: #fff100;
}

/* line 31, ../sass/screen.sass */
body, html {
  background-image: url(../img/vintage_speckles.png);
  color: #888888;
  font: 14px Helvetica;
  height: 480px;
  width: 320px;
  overflow: hidden;
}

/* line 39, ../sass/screen.sass */
.content {
  padding: 0 5px 0;
}

/* === MEDIA OBJECT === */
/* line 45, ../sass/screen.sass */
.media .bd {
  overflow: hidden;
  _overflow: visible;
  zoom: 1;
}
/* line 49, ../sass/screen.sass */
.media .img {
  float: left;
}
/* line 51, ../sass/screen.sass */
.media .img img {
  display: block;
}
/* line 53, ../sass/screen.sass */
.media .img .ext {
  float: right;
}

/* === NAVIGATION === */
/* line 59, ../sass/screen.sass */
nav ul {
  list-style: none;
}
/* line 61, ../sass/screen.sass */
nav ul li {
  float: left;
}

/* line 64, ../sass/screen.sass */
.status {
  height: 400px;
}
/* line 66, ../sass/screen.sass */
.status li {
  padding: 4px;
}
/* line 68, ../sass/screen.sass */
.status li:first-child {
  margin-top: 4px;
}
/* line 70, ../sass/screen.sass */
.status > li > .img {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 1px 1px 18px #333333;
  -moz-box-shadow: 1px 1px 18px #333333;
  box-shadow: 1px 1px 18px #333333;
  margin-top: 2px;
  margin-right: 10px;
  overflow: hidden;
}
/* line 76, ../sass/screen.sass */
.status > li > .bd {
  padding: 4px;
  background: #fefefe;
  border: 2px solid #dddddd;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
/* line 81, ../sass/screen.sass */
.status .name {
  color: black;
  font-weight: bold;
  display: block;
  font-size: 1.2em;
}
/* line 85, ../sass/screen.sass */
.status .at, .status .location {
  color: black;
  font-weight: bold;
  color: #f7931e;
  margin-right: -0.3em;
}
/* line 89, ../sass/screen.sass */
.status .message {
  font-size: 0.9em;
  display: block;
}

/* line 94, ../sass/screen.sass */
.screen header, .screen footer {
  background: #f7931e;
  color: white;
  overflow: hidden;
  -webkit-box-shadow: 0 0 10px 1px #555555;
  -moz-box-shadow: 0 0 10px 1px #555555;
  box-shadow: 0 0 10px 1px #555555;
}

/* line 97, ../sass/screen.sass */
.screen header {
  height: 48px;
  background: url(../img/400x80_banner_v2.png) center center no-repeat #f7931e;
  text-indent: -9999px;
}

/* line 105, ../sass/screen.sass */
footer nav ul li {
  width: 29.333%;
  text-align: center;
  padding: 1.9%;
}
/* line 109, ../sass/screen.sass */
footer nav ul li a {
  text-transform: uppercase;
  font-size: 1.1em;
  display: block;
  padding: 5px;
}
